<div>
<% include partials/header %>
<!-- header -->
<header>
<div class='logodiv'>
      <img src="../img/Logo-Horizontal-Color.png">
</div>
</header>
<!-- Navigation -->
<nav>  
 <div><h1><%= message%> </h1></div>
</nav>
<!-- Footer -->
<% include partials/footer %>
</div>